[package]
name = "ppbert"
description = "Simple pretty printer for Erlang's External Term Format"
homepage = "https://github.com/gnuvince/ppbert"
version = "0.1.2"
license = "MIT"
authors = ["Vincent Foley <vfoley@gmail.com>"]

[dependencies]
num = "0.1"
encoding = "0.2.33"
clap = "2.23.2"

[[bin]]
name = "ppbert"
path = "src/main.rs"
bench = false
